stages:
  - test
  - build
  - deploy

# Run flake8 to check for code quality
lint-test-job:
  image: python:3-bullseye
  stage: test
  script:
    - pip install flake8
    - flake8 sample_service accounts music


# Run the unit tests
#un-comment relevant code below in buildfrontend jobs

# api-unit-test-job:
#   image: python:3-bullseye
#   stage: test
#   needs:
#     - lint-test-job
#   script:
#     - cd sample_service
#     - pip install -r requirements.txt
#     - python -m pytest



# Build the React/JavaScript front-end
build-front-end-job:
  # rules:
  # # Only run if pushing to the main branch
  # - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  stage: build
  image: node:lts-bullseye
  needs:
    - lint-test-job
    # - api-unit-test-job
  variables:
    # If either of these variables is defined in the GitLab
    # CI/CD variables, that value will override the value here.
    # You need to substitute in your real values for
    # GROUP_NAME, PROJECT_NAME, & WEBSERVICE_NAME below.
    PUBLIC_URL: https://semi-serious-solutions.gitlab.io/jam-packd/
    # REACT_APP_SAMPLE_SERVICE_API_HOST: https://jampackd-music.onrender.com
  script:
    - cd ghi
    - npm install
    - npm run build
    - cp build/index.html build/404.html
  artifacts:
    paths:
      - ghi/build/




# build-back-end-job:
#   # rules:
#   #   # Only run if pushing to the main branch
#   #   - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
#   stage: build
#   image: docker:20.10.16
#   services:
#     - docker:20.10.16-dind
#   script:
#     # DO THIS FOR EACH SERVICE YOU NEED TO BUILD A DOCKER
#     # IMAGE FOR
#     - cd api
#     #double check next 2 lines
#     - cd accounts
#     - cd music 

#     # Builds the image CHANGE THE /app FOR EACH SERVICE
#     - docker build -t ${CI_REGISTRY_IMAGE}/app:latest .

#     # Gives the image a specific name
#     - docker tag ${CI_REGISTRY_IMAGE}/app:latest ${CI_REGISTRY_IMAGE}/app:$CI_JOB_ID

#     # Authenticates with the GitLab image registry
#     - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY

#     # Stores your image in the GitLab image registry
#     # with two different tags, the version from the tag
#     # and the name "latest"
#     - docker push ${CI_REGISTRY_IMAGE}/app:$CI_JOB_ID
#     - docker push ${CI_REGISTRY_IMAGE}/app:latest



# Deploy the React/JavaScript front-end to GitLab pages
pages:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  dependencies:
    - build-front-end-job
  needs:
    - build-front-end-job
  script:
    - mv ghi/build/ public
  artifacts:
    paths:
      - public
