stages:
  - test
  - build
  - deploy

# Run flake8 to check for code quality
lint-test-job:
  image: python:3-bullseye
  stage: test
  script:
    - pip install flake8
    - flake8 accounts music


# Run the unit tests
#un-comment relevant code below in buildfrontend jobs

music-unit-test-job:
  image: python:3-bullseye
  stage: test
  needs:
    - lint-test-job
  script:
    - cd music
    - pip install -r requirements.txt
    - MONGODATABASE_ACCOUNTS=accounts python -m pytest

accounts-unit-test-job:
  image: python:3-bullseye
  stage: test
  needs:
    - lint-test-job
  script:
    - cd accounts
    - pip install -r requirements.txt
    - MONGODATABASE_MUSIC=music python -m pytest


# Build the React/JavaScript front-end
build-front-end-job:
  # rules:
  # # Only run if pushing to the main branch
  # - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  stage: build
  image: node:lts-bullseye
  needs:
    - lint-test-job
    # - api-unit-test-job
  variables:
    # If either of these variables is defined in the GitLab
    # CI/CD variables, that value will override the value here.
    # You need to substitute in your real values for
    # GROUP_NAME, PROJECT_NAME, & WEBSERVICE_NAME below.
    PUBLIC_URL: https://semi-serious-solutions.gitlab.io/jam-packd
    REACT_APP_MUSIC: https://jampackd-music.onrender.com
    REACT_APP_accounts: https://jampackd-accounts.onrender.com
  script:
    - cd ghi
    - npm install
    - npm run build
    - cp build/index.html build/404.html
  artifacts:
    paths:
      - ghi/build/


# Deploy the React/JavaScript front-end to GitLab pages
pages:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  dependencies:
    - build-front-end-job
  needs:
    - build-front-end-job
  script:
    - mv ghi/build/ public
  artifacts:
    paths:
      - public
