volumes:
  accounts:
    external: true
  music:
    external: true
services:
  mongo:
    image: mongo:5
    volumes:
      - accounts:/data/db
      - music:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin

  fastapi:
    build:
      context: sample_service
      dockerfile: Dockerfile.dev
    ports:
      - 8000:8000
    volumes:
      - ./sample_service:/app

  accounts:
    build:
      context: accounts
      dockerfile: ./Dockerfile.dev
    ports:
      - "8001:8000"
    volumes:
      - ./accounts:/app
    environment:
      SIGNING_KEY: admin
      DATABASE_URL: mongodb://admin:admin@mongo
      MONGOHOST: mongo
      MONGODATABASE: accounts
      MONGOUSER: admin
      MONGOPASSWORD: admin
      # WAIT_HOSTS: mongo:27017

  music:
    build:
      context: music
      dockerfile: ./Dockerfile.dev
    ports:
      - "8003:8000"
    volumes:
      - ./music:/app
    environment:
      DATABASE_URL: mongodb://admin:admin@mongo
      MONGOHOST: mongo
      MONGODATABASE: music
      MONGOUSER: admin
      MONGOPASSWORD: admin
      CLIENT_ID: ${CLIENT_ID}
      CLIENT_SECRET: ${CLIENT_SECRET}
      REDIRECT_URI: ${REDIRECT_URI}
      USER: ${USER}
      SIGNING_KEY: admin

  ghi:
    image: node:lts-bullseye
    command: /bin/bash run.sh
    working_dir: /app
    volumes:
      - ./ghi:/app
    ports:
      - "3000:3000"
    environment:
      HOST_OS: ${OS}
      NODE_ENV: development
      HOST: "0.0.0.0"
      PUBLIC_URL: http://localhost:3000
      REACT_APP_SAMPLE_SERVICE_API_HOST: http://localhost:8000
      REACT_APP_accounts: http://localhost:8001
      REACT_APP_MUSIC: http://localhost:8003
      REACT_APP_THIRD_PARTY_SERVICE: https://api.spotify.com

  mongo-express:
    image: mongo-express:latest
    depends_on:
      - mongo
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin
      ME_CONFIG_MONGODB_URL: mongodb://admin:admin@mongo/
    restart: always
