/* * {
  background-color: #E75296;
  color: black;
} */

.JP_title {
  display: flex;
  align-items: stretch;
  justify-content: center;
  color: #9fd8f5;
  font-size: 10em;
}

.JP_subtitle {
  display: flex;
  justify-content: center;
  color: #E75296;
  font-size: 5em;
  
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%
}

.fbstyle{
  width: 300px;
  padding: 10px 10px 10px 10px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
  font-size: 35px;
}

.nav-tabs ul{
  display: flex;
  list-style: none;
  font-size: 25px;
}

.nav-tabs ul a{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}


.recs-btn a {
  text-decoration: none;
}

.header-img {
  height: 8rem;
}

.testimonial-h{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem;}

.testimonial{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.JP_logo{
  height: 10rem;
}
.logo-container{
  padding: 0px;
  margin: 0px;
  width: 1rem;
}