/* * {
  background-color: #E75296;
  color: black;
} */

.JP_title {
  display: flex;
  align-items: stretch;
  justify-content: center;
  color: #9fd8f5;
  font-size: 10em;
}

.JP_subtitle {
  display: flex;
  justify-content: center;
  color: #E75296;
  font-size: 5em;
  
}



nav ul{
  display: flex;
  justify-content: space-between;
  border: none;
  list-style: none;
}

.fbstyle{
  width: 300px;
  padding: 10px 10px 10px 10px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
  font-size: 35px;
}

.nav-tabs ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 25px;
}

.nav-tabs ul a{
  text-decoration: none;
}

.logout-container button{
  cursor: pointer;
  margin: 0px 0px 0px 0px;
}

.logout-container{
  color: red;
  font-size: 48px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  margin: 0px;
}

.recs-btn a {
  text-decoration: none;
}

.header-img {
  height: 8rem;
}