/** Now Playing **/
.now-playing__name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}
.now-playing__artist {
  margin-bottom: 1em;
}
.now-playing__status {
  margin-bottom: 1em;
}
.now-playing__img {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 45%;
}
.now-playing__img img {
  max-width: 80vmin;
  width: 100%;
}
.now-playing__side {
  margin-left: 5%;
  width: 45%;
}
/** Progress **/
.progress {
  border: 1px solid #eee;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}
.progress__bar {
  background-color: #eee;
  height: 4px;
}





/* #2

* {
  font-family: sans-serif;
}

body {
  background: rgba(0, 247, 255, 1)
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent button {
  background-color: #48abe0;
  color: white;
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 130px;
  width: 130px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
}

.parent button:active {
  background-color: #48abe0;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.parent button:not(:first-child) {
  margin-top: 10px;
}

.round-1 {
  border-radius: 5%;
}

.round-2 {
  border-radius: 10%;
}

.round-3 {
  border-radius: 20%;
}

.round-4 {
  border-radius: 30%;
}

.round-5 {
  border-radius: 40%;
}

.round-6 {
  border-radius: 70%;
} */
